@import 'variables';


$colors: (
  'white': #ffffff,
  'black': #000000,
  'blue': #0085FF,
  'red': #ff0000,
  'yellow': #FFD700
);

/*==========================================
                            main style
===========================================*/
.main-client{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: $lg) {
        flex-direction: row;
        & aside{
            width: 33%;
        }
    }
    button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: transparent;
        padding: 8px 16px;
        border-radius: 100px;
        transition: 300ms all;
        cursor: pointer;
    }
    .purple-pill{
        color: white;
        background-color: $primary-color;
        width: fit-content;
        border-radius: 100px;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        margin: 0;
    }
    .error-input{
        padding: 0;
    }
    aside{
        background-color: $primary-color;
        padding: 16px;
        border-radius: 18px;
        .client-nav{
            color: white;
            display: flex;
            flex-direction: column;
            &>p{
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #bebebe;
            width: 65%;
            align-self: center;
            }
            &>ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0;
                width: 90%;
                margin: 0 auto;
                .client-info{
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    color: $primary-color;
                    border-radius: 8px;
                    padding: 20px;
                    width: 80%;
                    margin: 0 auto;
                    .identity{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;
                        div{
                            position: relative;
                            .profile_link{
                                background-color: $primary-color;
                                border: 2px solid $primary-color;
                                color: white;
                                width: 16px;
                                height: 16px;
                                padding: 5px;
                                border-radius: 6px;
                                position: absolute;
                                top: -12px;
                                left: -12px;
                                transition: all 300ms ease-in-out;
                                &:hover{
                                    background-color: white;
                                    transform: scale(1.05);
                                    color: $primary-color;
                                }
                            }
                            img{
                                border-radius: 6px;
                                border: 1px solid $primary-color;
                            }
                        }
                    }
                    ul{
                        padding: 0;
                    }

                }
                .submenu {
                    padding-top: 5px;
                    padding-left: 10px;
                    li a{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        transition: 300ms all;
                        &:hover{
                            gap: 16px;
                        }
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .chevron {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 300ms all;
                        svg{
                            width: 20px;
                        }
                        &-rotated{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    .main-content{
        width: 100%;
        section{
            margin-bottom: 32px;
        }
        .button-select-view {
            margin-bottom: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 32px;
            @media screen and (min-width: $lg) {
                justify-content: start;
            }
        }
        .section-form{
            display: flex;
            flex-direction: column;
            gap: 16px;
            background-color: $primary-color;
            border-radius: 16px;
            padding: 32px;
            color: $primary-color;
            &>div{
                position: relative;
                background-color: #fff;
                padding: 40px 32px 32px;
                border-radius: 16px;
                display: flex;
                gap: 32px;
                flex-direction: column;
                .section-title{
                    color: white;
                    background-color: $secondary-color;
                    position: absolute;
                    border-radius: 100px;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    text-align: center;
                    box-shadow: 0px 5px 3px  rgba(0, 0, 0, 0.2);
                    @media screen and (min-width: $lg) {
                        left: 25px;
                        transform: translate(0%, 0%);
                        top: -20px;
                        width: initial;
                    }
                    p{
                        padding: 8px 18px;
                        @media screen and (min-width: $lg) {
                            padding:8px 64px;
                        }
                        margin: 0;
                    }
                }
                .group-input-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 32px;
                    @media screen and (min-width: $lg) {
                        flex-direction: row;
                        align-items: center;
                    }
                    .input-label:not(.oeil-directeur .input-label){
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        @media screen and (min-width: $xl) {
                            flex-direction: row;
                            align-items: center;
                        }
                        input{
                            border: 2px solid $primary-color;
                            background-color: $tiertiary-color;
                            color: white;
                            border-radius: 100px;
                            padding: 6px 16px;
                            text-align: center;
                            @media screen and (min-width: $lg) {
                                text-align: initial;
                            }
                        }
                    }
                    .oeil-directeur {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        @media screen and (min-width: $xl) {
                            flex-direction: row;
                            align-items: center;
                        }
                        p{
                            margin: 0;
                        }
                        .radio-input{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 8px;
                            border-radius: 100px;
                            padding: 4px 16px;
                            .input-label{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 8px;
                                input{
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    border:solid $primary-color 2px;
                                    background-color: #fff;
                                    border-radius: 6px;
                                    height: 20px;
                                    width: 20px;
                                    margin: 0;
                                    position: relative;
                                    transition: all;
                                    transition-duration: 150ms;
                                    &:hover {
                                        background-color: $tiertiary-color;
                                    }
                                    &:checked{
                                        background-color: $primary-color;
                                        border: 1px solid $tiertiary-color;
                                        &::after {
                                            content: "✔"; /* Caractère de coche */
                                            position: absolute;
                                            left: 49%;
                                            top: 44%;
                                            transform: translate(-50%, -50%);
                                            color: white;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .progression-section:first-of-type{
                    padding-bottom: 12px;
                    @media screen and (min-width: $lg) {
                        border-bottom: 1px solid $primary-color;
                    }
                }
                .bloc-image-et-input {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    @media screen and (min-width: $lg) {
                        flex-direction: row;
                        gap: 32px;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 8px;
                        @media screen and (min-width: $lg) {
                            flex-direction: row;
                            justify-content: space-evenly;
                            margin: 0 auto;
                            width: 70%;
                        }
                        .label-input{
                            flex-direction: row;
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            @each $color-name, $color-hex in $colors {
                                .checkbox-#{$color-name} {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    border:solid $primary-color 2px;
                                    background-color: #fff;
                                    border-radius: 6px;
                                    height: 20px;
                                    width: 20px;
                                    margin: 0;
                                    position: relative;
                                    transition: all;
                                    transition-duration: 150ms;
                                    &:hover {
                                        background-color: $color-hex;
                                    }
                                    &:checked{
                                        background-color: $color-hex;
                                        border: 2px solid $primary-color;
                                        color: $primary-color;
                                        &::after {
                                            content: "✔";
                                            position: absolute;
                                            left: 49%;
                                            top: 46%;
                                            transform: translate(-50%, -50%);
                                            @if $color-hex == white or $color-hex == #FFD700{
                                                color: $primary-color;
                                            }@else{
                                                color: white;
                                            }
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .edit-profile section{
            background-color: $primary-color;
            padding: 32px;
            border-radius: 18px;
            color: $primary-color;
            >section{
                background-color: #fff;
                margin-bottom: 0;
                header{
                    padding-top: 0;
                    h2{
                        margin-top: 0;
                    }
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    input{
                        border: 2px solid $primary-color;
                    }
                    button{
                        border: 2px solid $primary-color;
                        background-color: $primary-color;
                        transition: all 300ms ease-in-out;
                        &:hover{
                            background-color: #fff;
                            transform: scale(1.1);
                            color: $primary-color;
                        }
                    }
                }
                #delete-account{
                    border: 2px solid $primary-color;
                    background-color: $primary-color;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        background-color: red;
                        transform: scale(1.1);
                    }
                }
            }
        }
        #arc-profile{
            h1{
                margin: 0 auto 32px;
                font-size: 1.2rem;
                background-color: $secondary-color;
                @media screen and (min-width: $lg) {
                    margin: 0 0 32px;
                }
            }
            .svg-reglages{
                width: 20px;
                height: 20px;
            }
            .group-button{
                display: grid;
                grid-template-columns: 1fr;
                gap: 16px;
                margin: 32px 16px;
                @media screen and (min-width: $md) {
                    margin: 32px 0px;
                    grid-template-columns: 1fr 1fr;
                }
                @media screen and (min-width: $lg) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
                .tab{
                    background-color: $secondary-color;
                    border: $secondary-color 2px solid;
                    color: white;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 18px;
                    span{
                        display: flex;
                        align-items: center;
                    }
                    &:hover{
                        background-color: white;
                        color: $secondary-color;
                    }
                    &-activated{
                        background-color: white;
                        color: $secondary-color;
                    }
                }
            }
            #arc-config{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .group-input-info{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    @media screen and (min-width: $lg) {
                        align-items: start;
                    }
                    .input-flex{
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 16px;
                        width: 100%;
                        @media screen and (min-width: $lg) {
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                    .input-label{
                        display: flex;
                        flex-direction: column;
                        align-items: normal;
                        gap: 4px;
                        @media screen and (min-width: $lg) {
                            label{
                                text-align: center;
                            }
                        }
                        input{
                            border: 2px solid $primary-color;
                            background-color: $tiertiary-color;
                            color: white;
                            border-radius: 100px;
                            padding: 6px 16px;
                            text-align: center;
                        }
                        &.label-select-custom p{
                            margin: 0;
                            @media screen and (min-width: $lg) {
                                    text-align: center;
                            }
                        }
                        .select{
                            font-size: small;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border: 2px solid $primary-color;
                            background-color: $tiertiary-color;
                            color: white;
                            border-radius: 100px;
                            padding: 6px 16px;
                            text-align: center;
                            position: relative;
                            .label{
                                display: flex;
                                flex-direction: row;
                                gap: 8px;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                cursor: pointer;
                                .chevron{
                                    position: absolute;
                                    right: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition: 300ms all;
                                    svg{
                                        width: 20px;
                                    }
                                    &-rotated{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                        .options{
                            font-size: small;
                            cursor: pointer;
                            background-color: $tiertiary-color;
                            border-radius: 18px;
                            margin: 0;
                            padding: 0;
                            border: 2px solid $primary-color;
                            color: white;
                            overflow: hidden;
                            li{
                                padding: 4px 16px;
                                transition: 300ms all;
                                &:hover{
                                    background-color: #fff;
                                    color: $primary-color;
                                    padding-left: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
