$font-stack: 'Poppins';
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;
$primary-color: #474787;
$secondary-color: #2B2B52;
$tiertiary-color: #a2a2f8;
/*  variable mediaquery  */
$sm: 640px;
$md : 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;


$colors: (
  'white': #ffffff,
  'black': #000000,
  'blue': #0085FF,
  'red': #ff0000,
  'yellow': #FFD700
);

/*==========================================
                            main style
===========================================*/
.main-client{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: $lg) {
        flex-direction: row;
        & aside{
            width: 33%;
        }
    }
    .error-input{
        padding: 0;
    }
    aside{
        background-color: $primary-color;
        padding: 16px;
        border-radius: 18px;
        .client-nav{
            color: white;
            display: flex;
            flex-direction: column;
            &>p{
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #bebebe;
            width: 65%;
            align-self: center;
            }
            &>ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .submenu {
                    padding-top: 5px;
                    padding-left: 10px;
                    li a{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        transition: 300ms all;
                        &:hover{
                            gap: 16px;
                        }
                    }
                }
                a{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .chevron {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 300ms all;
                        svg{
                            width: 20px;
                        }
                        &-rotated{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    .main-content{
        width: 100%;
        section{
            margin-bottom: 32px;
        }
        .button-select-view {
            margin-bottom: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 32px;
            @media screen and (min-width: $lg) {
                justify-content: start;
            }
        }
        .client-info{
            background-color: #fff;
            border-radius: 18px;
            padding: 32px !important;
            color: $primary-color;
            border: solid 2px $primary-color;
            border: soid 2px $secondary-color;
            text-align: center;
            @media screen and (min-width: $lg) {
                width: 40%;
            }
            @media screen and (min-width: $xl) {
                width: 30%;
            }
            .identity{
                display: flex;
                flex-direction: row;
                align-items: center;

                gap:32px;
                padding-bottom: 8px;
                @media screen and (min-width: $lg) {
                    justify-content: initial;
                }
                .role{
                    color: #B3B3B3;
                }
                img{
                    border-radius: 100%;
                    border: 1px solid $primary-color;
                }
            }
            a{
                background-color: $primary-color;
                border-radius: 8px;
                padding: 4px 6px;
                display: inline-block;
            }
        }
        .section-form{
            display: flex;
            flex-direction: column;
            gap: 16px;
            background-color: $primary-color;
            border-radius: 16px;
            padding: 32px;
            color: $primary-color;
            &>div{
                position: relative;
                background-color: #fff;
                padding: 32px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                .section-title{
                    color: white;
                    background-color: $secondary-color;
                    position: absolute;
                    border-radius: 100px;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, -50%);
                    width: 90%;
                    text-align: center;
                    box-shadow: 0px 5px 3px  rgba(0, 0, 0, 0.2);
                    @media screen and (min-width: $lg) {
                        left: 25px;
                        transform: translate(0%, 0%);
                        top: -20px;
                        width: initial;
                    }
                    p{
                        padding: 8px 18px;
                        @media screen and (min-width: $lg) {
                            padding:8px 64px;
                        }
                        margin: 0;
                    }
                }
                .group-input-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 18px;
                    @media screen and (min-width: $lg) {
                        flex-direction: row;
                        align-items: center;
                    }
                    .input-label:not(.oeil-directeur .input-label){
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        @media screen and (min-width: $xl) {
                            flex-direction: row;
                            align-items: center;
                        }
                        input{
                            border: 2px solid $primary-color;
                            background-color: $tiertiary-color;
                            color: white;
                            border-radius: 100px;
                            padding: 6px 16px;
                            text-align: center;
                            @media screen and (min-width: $lg) {
                                text-align: initial;
                            }
                        }
                    }
                    .oeil-directeur {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        @media screen and (min-width: $xl) {
                            flex-direction: row;
                            align-items: center;
                        }
                        p{
                            margin: 0;
                        }
                        .radio-input{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-evenly;
                            gap: 8px;
                            border-radius: 100px;
                            padding: 4px 16px;
                            .input-label{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 8px;
                                input{
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    border:solid $primary-color 2px;
                                    background-color: #fff;
                                    border-radius: 6px;
                                    height: 20px;
                                    width: 20px;
                                    margin: 0;
                                    position: relative;
                                    transition: all;
                                    transition-duration: 150ms;
                                    &:hover {
                                        background-color: $tiertiary-color;
                                    }
                                    &:checked{
                                        background-color: $primary-color;
                                        border: 1px solid $tiertiary-color;
                                        &::after {
                                            content: "✔"; /* Caractère de coche */
                                            position: absolute;
                                            left: 49%;
                                            top: 44%;
                                            transform: translate(-50%, -50%);
                                            color: white;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bloc-image-et-input {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    @media screen and (min-width: $lg) {
                        flex-direction: row;
                        gap: 32px;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 8px;
                        @media screen and (min-width: $lg) {
                            flex-direction: row;
                            justify-content: space-evenly;
                            margin: 0 auto;
                            width: 70%;
                        }
                        .label-input{
                            flex-direction: row;
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            @each $color-name, $color-hex in $colors {
                                .checkbox-#{$color-name} {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    border:solid $primary-color 2px;
                                    background-color: #fff;
                                    border-radius: 6px;
                                    height: 20px;
                                    width: 20px;
                                    margin: 0;
                                    position: relative;
                                    transition: all;
                                    transition-duration: 150ms;
                                    &:hover {
                                        background-color: $color-hex;
                                    }
                                    &:checked{
                                        background-color: $color-hex;
                                        border: 2px solid $primary-color;
                                        color: $primary-color;
                                        &::after {
                                            content: "✔";
                                            position: absolute;
                                            left: 49%;
                                            top: 46%;
                                            transform: translate(-50%, -50%);
                                            @if $color-hex == white or $color-hex == #FFD700{
                                                color: $primary-color;
                                            }@else{
                                                color: white;
                                            }
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .edit-profile section{
            background-color: $primary-color;
            padding: 32px;
            border-radius: 18px;
            color: $primary-color;
            >section{
                background-color: #fff;
                margin-bottom: 0;
                header{
                    padding-top: 0;
                    h2{
                        margin-top: 0;
                    }
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    input{
                        border: 2px solid $primary-color;
                    }
                    button{
                        border: 2px solid $primary-color;
                        background-color: $primary-color;
                        transition: all 300ms ease-in-out;
                        &:hover{
                            background-color: #fff;
                            transform: scale(1.1);
                            color: $primary-color;
                        }
                    }
                }
                #delete-account{
                    border: 2px solid $primary-color;
                    background-color: $primary-color;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        background-color: red;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
