@charset "UTF-8";
/*  variable mediaquery  */
/*==========================================
                            main style
===========================================*/
.main-client {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .main-client {
    flex-direction: row;
  }
  .main-client aside {
    width: 33%;
  }
}
.main-client button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 100px;
  transition: 300ms all;
  cursor: pointer;
}
.main-client .purple-pill {
  color: white;
  background-color: #474787;
  width: fit-content;
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  margin: 0;
}
.main-client .error-input {
  padding: 0;
}
.main-client aside {
  background-color: #474787;
  padding: 16px;
  border-radius: 18px;
}
.main-client aside .client-nav {
  color: white;
  display: flex;
  flex-direction: column;
}
.main-client aside .client-nav > p {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
  width: 65%;
  align-self: center;
}
.main-client aside .client-nav > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
.main-client aside .client-nav > ul .client-info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #474787;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.main-client aside .client-nav > ul .client-info .identity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.main-client aside .client-nav > ul .client-info .identity div {
  position: relative;
}
.main-client aside .client-nav > ul .client-info .identity div .profile_link {
  background-color: #474787;
  border: 2px solid #474787;
  color: white;
  width: 16px;
  height: 16px;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: -12px;
  left: -12px;
  transition: all 300ms ease-in-out;
}
.main-client aside .client-nav > ul .client-info .identity div .profile_link:hover {
  background-color: white;
  transform: scale(1.05);
  color: #474787;
}
.main-client aside .client-nav > ul .client-info .identity div img {
  border-radius: 6px;
  border: 1px solid #474787;
}
.main-client aside .client-nav > ul .client-info ul {
  padding: 0;
}
.main-client aside .client-nav > ul .submenu {
  padding-top: 5px;
  padding-left: 10px;
}
.main-client aside .client-nav > ul .submenu li a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 300ms all;
}
.main-client aside .client-nav > ul .submenu li a:hover {
  gap: 16px;
}
.main-client aside .client-nav > ul a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-client aside .client-nav > ul a .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all;
}
.main-client aside .client-nav > ul a .chevron svg {
  width: 20px;
}
.main-client aside .client-nav > ul a .chevron-rotated {
  transform: rotate(180deg);
}
.main-client .main-content {
  width: 100%;
}
.main-client .main-content .input-svg {
  position: relative;
  display: flex;
  gap: 8px;
}
.main-client .main-content .input-svg div {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-client .main-content .input-svg div svg {
  width: 30px;
  height: 30px;
}
.main-client .main-content .input-svg input[type=number] + div {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-client .main-content .input-svg input[type=number] + div svg {
  width: 30px;
  height: 30px;
}
.main-client .main-content section {
  margin-bottom: 32px;
}
.main-client .main-content .button-select-view {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .button-select-view {
    justify-content: start;
  }
}
.main-client .main-content .section-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #474787;
  border-radius: 16px;
  padding: 32px;
  color: #474787;
}
.main-client .main-content .section-form > div {
  position: relative;
  background-color: #fff;
  padding: 40px 32px 32px;
  border-radius: 16px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.main-client .main-content .section-form > div .section-title {
  color: white;
  background-color: #2B2B52;
  position: absolute;
  border-radius: 100px;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .section-title {
    left: 25px;
    transform: translate(0%, 0%);
    top: -20px;
    width: initial;
  }
}
.main-client .main-content .section-form > div .section-title p {
  padding: 8px 18px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .section-title p {
    padding: 8px 64px;
  }
}
.main-client .main-content .section-form > div .group-input-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .group-input-info {
    flex-direction: row;
    align-items: center;
  }
}
.main-client .main-content .section-form > div .group-input-info .input-label:not(.oeil-directeur .input-label) {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 1280px) {
  .main-client .main-content .section-form > div .group-input-info .input-label:not(.oeil-directeur .input-label) {
    flex-direction: row;
    align-items: center;
  }
}
.main-client .main-content .section-form > div .group-input-info .input-label:not(.oeil-directeur .input-label) input {
  border: 2px solid #474787;
  background-color: #a2a2f8;
  color: white;
  border-radius: 100px;
  padding: 6px 16px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .group-input-info .input-label:not(.oeil-directeur .input-label) input {
    text-align: initial;
  }
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 1280px) {
  .main-client .main-content .section-form > div .group-input-info .oeil-directeur {
    flex-direction: row;
    align-items: center;
  }
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur p {
  margin: 0;
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur .radio-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  border-radius: 100px;
  padding: 4px 16px;
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur .radio-input .input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur .radio-input .input-label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid #474787 2px;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  transition: all;
  transition-duration: 150ms;
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur .radio-input .input-label input:hover {
  background-color: #a2a2f8;
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur .radio-input .input-label input:checked {
  background-color: #474787;
  border: 1px solid #a2a2f8;
}
.main-client .main-content .section-form > div .group-input-info .oeil-directeur .radio-input .input-label input:checked::after {
  content: "✔"; /* Caractère de coche */
  position: absolute;
  left: 49%;
  top: 44%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}
.main-client .main-content .section-form > div .progression-section:first-of-type {
  padding-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .progression-section:first-of-type {
    border-bottom: 1px solid #474787;
  }
}
.main-client .main-content .section-form > div .bloc-image-et-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .bloc-image-et-input {
    flex-direction: row;
    gap: 32px;
  }
}
.main-client .main-content .section-form > div .bloc-image-et-input > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content .section-form > div .bloc-image-et-input > div {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
  }
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 16px;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-white {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid #474787 2px;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  transition: all;
  transition-duration: 150ms;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-white:hover {
  background-color: #ffffff;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-white:checked {
  background-color: #ffffff;
  border: 2px solid #474787;
  color: #474787;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-white:checked::after {
  content: "✔";
  position: absolute;
  left: 49%;
  top: 46%;
  transform: translate(-50%, -50%);
  color: #474787;
  font-size: 16px;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-black {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid #474787 2px;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  transition: all;
  transition-duration: 150ms;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-black:hover {
  background-color: #000000;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-black:checked {
  background-color: #000000;
  border: 2px solid #474787;
  color: #474787;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-black:checked::after {
  content: "✔";
  position: absolute;
  left: 49%;
  top: 46%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-blue {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid #474787 2px;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  transition: all;
  transition-duration: 150ms;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-blue:hover {
  background-color: #0085FF;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-blue:checked {
  background-color: #0085FF;
  border: 2px solid #474787;
  color: #474787;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-blue:checked::after {
  content: "✔";
  position: absolute;
  left: 49%;
  top: 46%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-red {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid #474787 2px;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  transition: all;
  transition-duration: 150ms;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-red:hover {
  background-color: #ff0000;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-red:checked {
  background-color: #ff0000;
  border: 2px solid #474787;
  color: #474787;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-red:checked::after {
  content: "✔";
  position: absolute;
  left: 49%;
  top: 46%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-yellow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid #474787 2px;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  transition: all;
  transition-duration: 150ms;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-yellow:hover {
  background-color: #FFD700;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-yellow:checked {
  background-color: #FFD700;
  border: 2px solid #474787;
  color: #474787;
}
.main-client .main-content .section-form > div .bloc-image-et-input > div .label-input .checkbox-yellow:checked::after {
  content: "✔";
  position: absolute;
  left: 49%;
  top: 46%;
  transform: translate(-50%, -50%);
  color: #474787;
  font-size: 16px;
}
.main-client .main-content .edit-profile section {
  background-color: #474787;
  padding: 32px;
  border-radius: 18px;
  color: #474787;
}
.main-client .main-content .edit-profile section > section {
  background-color: #fff;
  margin-bottom: 0;
}
.main-client .main-content .edit-profile section > section header {
  padding-top: 0;
}
.main-client .main-content .edit-profile section > section header h2 {
  margin-top: 0;
}
.main-client .main-content .edit-profile section > section form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-client .main-content .edit-profile section > section form input {
  border: 2px solid #474787;
}
.main-client .main-content .edit-profile section > section form button {
  border: 2px solid #474787;
  background-color: #474787;
  transition: all 300ms ease-in-out;
}
.main-client .main-content .edit-profile section > section form button:hover {
  background-color: #fff;
  transform: scale(1.1);
  color: #474787;
}
.main-client .main-content .edit-profile section > section #delete-account {
  border: 2px solid #474787;
  background-color: #474787;
  transition: all 300ms ease-in-out;
}
.main-client .main-content .edit-profile section > section #delete-account:hover {
  background-color: red;
  transform: scale(1.1);
}
.main-client .main-content #arc-profile {
  margin: 0 10px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile {
    margin: 0 0;
  }
}
.main-client .main-content #arc-profile .header-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 32px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile .header-profile {
    flex-direction: row;
    align-items: start;
  }
}
.main-client .main-content #arc-profile .header-profile h1 {
  font-size: 1.2rem;
  background-color: #2B2B52;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile .header-profile h1 {
    margin: 0 0 32px;
  }
}
.main-client .main-content #arc-profile .header-profile form .btn-delete {
  border: 2px solid #474787;
  background-color: #474787;
  transition: all 300ms ease-in-out;
  color: white;
}
.main-client .main-content #arc-profile .header-profile form .btn-delete:hover {
  background-color: red;
  transform: scale(1.1);
}
.main-client .main-content #arc-profile .svg-reglages {
  width: 20px;
  height: 20px;
}
.main-client .main-content #arc-profile .group-button {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 16px;
}
@media screen and (min-width: 768px) {
  .main-client .main-content #arc-profile .group-button {
    margin: 32px 0px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile .group-button {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main-client .main-content #arc-profile .group-button .tab {
  background-color: #2B2B52;
  border: #2B2B52 2px solid;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.main-client .main-content #arc-profile .group-button .tab span {
  display: flex;
  align-items: center;
}
.main-client .main-content #arc-profile .group-button .tab:hover {
  background-color: white;
  color: #2B2B52;
}
.main-client .main-content #arc-profile .group-button .tab-activated {
  background-color: white;
  color: #2B2B52;
}
.main-client .main-content #arc-profile #arc-config {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-client .main-content #arc-profile #arc-config .group-input-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile #arc-config .group-input-info {
    align-items: start;
  }
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-flex {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile #arc-config .group-input-info .input-flex {
    grid-template-columns: 1fr 1fr;
  }
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 4px;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile #arc-config .group-input-info .input-label label {
    text-align: center;
  }
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label input {
  border: 2px solid #474787;
  background-color: #a2a2f8;
  color: white;
  border-radius: 100px;
  padding: 6px 16px;
  text-align: center;
  width: 100%;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label.label-select-custom p {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .main-client .main-content #arc-profile #arc-config .group-input-info .input-label.label-select-custom p {
    text-align: center;
  }
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select {
  font-size: small;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #474787;
  background-color: #a2a2f8;
  color: white;
  border-radius: 100px;
  padding: 6px 16px;
  text-align: center;
  position: relative;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label .input-svg {
  width: 100%;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label .input-svg .selected {
  margin: 0 auto;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label .input-svg div {
  right: 32px;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label .chevron {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label .chevron svg {
  width: 20px;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .select .label .chevron-rotated {
  transform: rotate(180deg);
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .options {
  font-size: small;
  cursor: pointer;
  background-color: #a2a2f8;
  border-radius: 18px;
  margin: 0;
  padding: 0;
  border: 2px solid #474787;
  color: white;
  overflow: hidden;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .options li {
  padding: 4px 16px;
  transition: 300ms all;
}
.main-client .main-content #arc-profile #arc-config .group-input-info .input-label .options li:hover {
  background-color: #fff;
  color: #474787;
  padding-left: 24px;
}
.main-client .main-content #arc-profile #arc-config .group-input-info-puissance .input-svg div {
  right: 40px;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-regular.ttf") format("truetype");
}
* {
  font-family: "Poppins";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:not(.body-client) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-client {
  background-color: #dedede;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

img {
  max-width: 100%;
}

header:not(.body-client header) {
  background-image: url("/public/images/bandeau_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  width: 100%;
  padding: 0;
  height: 130px;
}
@media screen and (min-width: 640px) {
  header:not(.body-client header) {
    padding: 18px 0;
  }
}

@media screen and (min-width: 640px) {
  .body-client header {
    padding: 18px 0;
  }
}

main {
  padding-top: 32px;
}

.body-vitrine section:not(#article) {
  padding: 32px 0;
}

footer {
  background-color: #474787;
  height: 100px;
}

.separator-y {
  display: none;
}
@media screen and (min-width: 1024px) {
  .separator-y {
    background-color: #bdbdbd;
    width: 2px;
    border-radius: 8px;
    display: block;
  }
}

.separator-x {
  background-color: #bdbdbd;
  height: 2px;
  width: 100%;
  border-radius: 8px;
}
@media screen and (min-width: 1024px) {
  .separator-x {
    display: none;
  }
}

input {
  padding: 5px;
  border-radius: 8px;
  border: none;
}

/*==========================================
                            menu
===========================================*/
/*main menu*/
.main-menu {
  background-color: #474787;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 16px 0px;
  justify-content: space-between;
}
.main-menu .logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding-left: 18px;
}
.main-menu.container-nav {
  border-radius: 0px 0px 18px 18px;
}
@media screen and (min-width: 640px) {
  .main-menu.container-nav {
    border-radius: 18px;
  }
}
.main-menu.container-open {
  border-radius: 0;
}
@media screen and (min-width: 640px) {
  .main-menu.container-open {
    border-radius: 18px 18px 0 0;
  }
}

.nav-ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav-ul {
    padding-right: 18px;
    align-items: center;
  }
}
.nav-ul li:not(.isActived, .deconnexion):hover {
  border-radius: 8px;
  background-color: #fff;
}
.nav-ul li.isActived {
  background-color: #474787;
}
.nav-ul li a {
  transition: all 300ms ease-in-out;
  display: block;
  padding: 8px;
}
.nav-ul li a:not(.actived):hover {
  color: #474787;
}
.nav-ul li a.actived {
  cursor: default;
  color: #a2a2f8;
}
.nav-ul li a.actived::before {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  width: 10px;
  height: 10px;
  display: inline;
}

#menu {
  padding-left: 0;
}
#menu.nav-open {
  background-color: #474787;
  color: white;
  border-radius: 0 0 18px 18px;
  flex-direction: column;
  display: flex;
  padding-bottom: 18px;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}
#menu.nav-open li:not(.isActived):hover {
  background-color: #fff;
}
#menu.nav-open li.isActived {
  background-color: #474787;
}
#menu.nav-open li a {
  transition: all 300ms ease-in-out;
  display: block;
  padding: 12px 18px;
}
#menu.nav-open li a:hover {
  color: #474787;
  padding-left: 28px;
}
#menu.nav-open li.isActived {
  padding: 12px 0px;
}
#menu.nav-open li.isActived a {
  cursor: default;
  color: #a2a2f8;
  display: inline;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
#menu.nav-open li.isActived a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  width: 10px;
  height: 10px;
}
#menu.nav-open li.isActived :hover {
  padding-left: 18px;
}

/*main menu client*/
.body-client #menu-pc a {
  transition: padding-left 300ms ease-in-out, background-color 300ms ease-in-out;
  padding: 8px;
  border-radius: 8px;
}
.body-client #menu-pc a:hover {
  background-color: #fff;
  color: #474787;
}
.body-client .disconnect {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: padding-left 300ms ease-in-out, background-color 300ms ease-in-out;
  padding: 8px;
}
.body-client .disconnect:hover {
  background-color: red;
}
@media screen and (min-width: 1024px) {
  .body-client .disconnect {
    border-radius: 8px;
  }
}
.body-client .nav-open li form {
  width: 100%;
}
.body-client .nav-open li form:hover {
  background-color: red;
}
.body-client .nav-open li form button {
  padding: 12px 18px;
  display: block;
  width: 100%;
  text-align: left;
}
.body-client .nav-open li form button:hover {
  padding-left: 28px;
}

/*menu burger*/
.hamburger {
  cursor: pointer;
  padding-right: 16px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*==========================================
                            Accueil
===========================================*/
.card {
  display: flex;
  flex-direction: column;
}
.card .left {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .card .left {
    width: 45%;
    align-self: start;
    margin-left: 25px;
  }
}
.card .right {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .card .right {
    width: 45%;
    align-self: end;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 65%;
  }
}

.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-card img {
  border-radius: 18px;
}

/*============
        compagnon
============*/
.purple-card {
  background-color: #474787;
  color: white;
  border-radius: 18px;
  padding: 16px;
}
.purple-card-title {
  background-color: #2B2B52;
  border-radius: 18px 18px 0 0;
  color: white;
  width: 85%;
}
@media screen and (min-width: 768px) {
  .purple-card-title {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .purple-card-title {
    width: 45%;
  }
}
@media screen and (min-width: 1280px) {
  .purple-card-title {
    width: 35%;
  }
}
.purple-card-title h2 {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .purple-card {
    padding: 32px;
  }
}

.compagnon-img, .progress-img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .compagnon-img, .progress-img {
    display: block;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*============
        progress
============*/
#progress {
  position: relative;
  overflow: hidden;
}
#progress::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/public/images/fond-progress.png");
  background-size: cover;
  filter: blur(12px);
  z-index: -1;
}

/*============
        carrousel
============*/
.carrousel-card {
  background-color: #D9D9D9;
  padding: 16px;
  border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .carrousel-card {
    padding: 32px;
  }
}
.carrousel-card .carrousel-text {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  color: #474787;
}
@media screen and (min-width: 768px) {
  .carrousel-card .carrousel-text {
    padding: 32px;
  }
}
.carrousel-card .carrousel-text p:first-of-type {
  margin-top: 0;
}
.carrousel-card .carrousel-text p:last-child {
  margin-bottom: 0;
}

#carousel-article .card {
  width: 100%;
}
#carousel-article img {
  border-radius: 8px;
}
#carousel-article .purple-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#carousel-article .purple-card .carousel-card-text {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  color: #474787;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#carousel-article .purple-card .carousel-card-text a {
  border: solid 2px white;
  align-self: end;
  background-color: #474787;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
}
#carousel-article .purple-card .carousel-card-text a:hover {
  background-color: white;
  border: solid 2px #474787;
  color: #474787;
  transform: scale(1.05);
}

/*gestion couleur slider*/
.splide__slide {
  border-radius: 16px !important;
}
.splide__arrow svg {
  fill: #fff !important;
}
.splide__arrow svg:hover {
  fill: #a2a2f8 !important;
}
.splide__pagination__page {
  background-color: #fff !important;
}
.splide__pagination__page:hover, .splide__pagination__page.is-active {
  background-color: #474787 !important;
}

/*============
        starting
============*/
#starting {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
#starting::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/public/images/starting-bg.png");
  background-size: cover;
  z-index: -1;
}
#starting .card {
  width: 100%;
}
#starting .card .purple-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#starting .card .purple-card a {
  border: solid 2px #474787;
  align-self: end;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
  color: #474787;
}
#starting .card .purple-card a:hover {
  background-color: #474787;
  border: solid 2px white;
  color: white;
  transform: scale(1.05);
}

/*==========================================
                            contact
===========================================*/
#contact .card {
  width: 100%;
}
#contact .card .form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#contact .card .form-group .input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#contact .card .form-group .input-group input, #contact .card .form-group .input-group textarea {
  padding: 8px;
  border-radius: 8px;
  border: none;
}
@media screen and (min-width: 768px) {
  #contact .card .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 32px;
  }
  #contact .card .form-group .input-group:nth-child(3),
  #contact .card .form-group .input-group:nth-child(4) {
    grid-column: span 2;
  }
}
#contact .card .form-container {
  display: flex;
  flex-direction: column;
}
#contact .card .form-container button {
  align-self: end;
  margin-top: 20px;
  border: solid 2px #474787;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
  color: #474787;
}
#contact .card .form-container button:hover {
  background-color: #474787;
  border: solid 2px white;
  color: white;
  transform: scale(1.05);
}

.mail-card {
  border-radius: 18px;
  background-color: #dedede;
  color: #474787;
  padding: 32px;
  text-align: center;
}
.mail-card a {
  color: #474787;
  font-weight: 600;
  font-size: 1.1rem;
}

/*==========================================
                        inscription/connexion
===========================================*/
#register .card-register {
  background-color: #D9D9D9;
  border-radius: 18px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: #474787;
}
@media screen and (min-width: 768px) {
  #register .card-register {
    padding: 32px;
  }
}
#register .card-register h2 {
  text-align: center;
  font-weight: 600;
}
#register .card-register p {
  text-align: center;
}
#register .card-register ul {
  padding: 0;
  width: 87%;
  align-self: center;
}
@media screen and (min-width: 640px) {
  #register .card-register ul {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  #register .card-register ul {
    width: 85%;
  }
}
@media screen and (min-width: 1024px) {
  #register .card-register ul {
    width: 77%;
  }
}
@media screen and (min-width: 1280px) {
  #register .card-register ul {
    width: 60%;
  }
}
@media screen and (min-width: 1536px) {
  #register .card-register ul {
    width: 50%;
  }
}
#register .card-register ul li {
  text-align: center;
  margin: 5px 0;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #register .card-register ul li {
    text-decoration: none;
    list-style-type: disc;
    text-align: left;
  }
}

#formulaires {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  #formulaires {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 32px;
  }
}
#formulaires .formulaires-card {
  display: flex;
  flex-direction: column;
}
#formulaires .formulaires-card .left {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  #formulaires .formulaires-card .left {
    width: 45%;
    align-self: start;
    margin-left: 25px;
  }
}
#formulaires .formulaires-card .right {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  #formulaires .formulaires-card .right {
    width: 45%;
    align-self: end;
    margin-right: 25px;
  }
}
#formulaires .formulaires-card .purple-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
#formulaires .formulaires-card .purple-card > div {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#formulaires .formulaires-card .purple-card .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#formulaires .formulaires-card .purple-card .form-group input {
  width: 80%;
}
@media screen and (min-width: 1024px) {
  #formulaires .formulaires-card .purple-card .form-group input {
    width: 75%;
  }
}
#formulaires .formulaires-card .purple-card a {
  text-decoration: underline;
}
#formulaires .formulaires-card .purple-card a:hover {
  color: #a2a2f8;
}
#formulaires .formulaires-card .purple-card button {
  align-self: start;
  margin-top: 20px;
  border: solid 2px #474787;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
  color: #474787;
  font-weight: 600;
  border: 2px solid #2B2B52;
}
#formulaires .formulaires-card .purple-card button:hover {
  background-color: #474787;
  border: solid 2px white;
  color: white;
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  #formulaires .formulaires-card .purple-card {
    min-height: 400px;
  }
}

/*==========================================
                            article
===========================================*/
.page-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
}
.page-article .separator-y {
  width: 10px;
}
@media screen and (min-width: 1024px) {
  .page-article {
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }
}
.page-article aside {
  background-color: #dedede;
  border-radius: 18px;
  padding: 32px;
}
@media screen and (min-width: 1024px) {
  .page-article aside {
    width: 25%;
  }
}
.page-article aside h2, .page-article aside h3 {
  margin: 0;
}
.page-article aside .filtre-mobile {
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.page-article aside .filtre-mobile button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
}
.page-article aside .filtre-mobile h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.page-article aside .filtre-mobile .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all;
}
.page-article aside .filtre-mobile .chevron svg {
  width: 20px;
}
.page-article aside .filtre-mobile .chevron-rotated {
  transform: rotate(180deg);
}
.page-article aside .categories {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .page-article aside .categories {
    flex-direction: column;
    gap: 18px;
  }
}
.page-article aside .categories .input-checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  position: relative;
  border: 1px solid rgb(89, 89, 89);
  transition: all;
  transition-duration: 150ms;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox]:hover {
  background-color: #a2a2f8;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox]:checked {
  background-color: #474787;
  border: 1px solid #a2a2f8;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox]:checked::after {
  content: "✔"; /* Caractère de coche */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}
.page-article #article {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 640px) {
  .page-article #article {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .page-article #article {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .page-article #article {
    grid-template-columns: repeat(4, 1fr);
  }
}
.page-article #article .purple-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
@media screen and (min-width: 1024px) {
  .page-article #article .purple-card {
    align-items: start;
  }
}
.page-article #article .purple-card img {
  border-radius: 8px;
  width: 100%;
}
.page-article #article .purple-card .card-text {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  color: #474787;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.page-article #article .purple-card .card-text a {
  border: solid 2px white;
  align-self: end;
  background-color: #474787;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
}
.page-article #article .purple-card .card-text a:hover {
  background-color: white;
  border: solid 2px #474787;
  color: #474787;
  transform: scale(1.05);
}

/*==========================================
                            responsive
===========================================*/
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .nav-ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

/*# sourceMappingURL=app.css.map */
