@charset "UTF-8";
/*  variable mediaquery  */
/*==========================================
                            main style
===========================================*/
.main-client {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .main-client {
    flex-direction: row;
  }
  .main-client aside {
    width: 33%;
  }
}
.main-client .client-nav {
  background-color: #474787;
  color: white;
  padding: 16px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
.main-client .client-nav p {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
  width: 65%;
  align-self: center;
}
.main-client .client-nav > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-client .client-nav > ul .submenu {
  padding-top: 5px;
  padding-left: 10px;
}
.main-client .client-nav > ul .submenu li a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 300ms all;
}
.main-client .client-nav > ul .submenu li a:hover {
  gap: 16px;
}
.main-client .client-nav > ul a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-client .client-nav > ul a .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all;
}
.main-client .client-nav > ul a .chevron svg {
  width: 20px;
}
.main-client .client-nav > ul a .chevron-rotated {
  transform: rotate(180deg);
}

/*  variable mediaquery  */
@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-regular.ttf") format("truetype");
}
* {
  font-family: "Poppins";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:not(.body-client) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

img {
  max-width: 100%;
}

header:not(.body-client header) {
  background-image: url("/public/images/bandeau_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  width: 100%;
  padding: 0;
  height: 130px;
}
@media screen and (min-width: 640px) {
  header:not(.body-client header) {
    padding: 18px 0;
  }
}

@media screen and (min-width: 640px) {
  .body-client header {
    padding: 18px 0;
  }
}

main {
  padding-top: 32px;
}

section:not(#article) {
  padding: 32px 0;
}

footer {
  background-color: #474787;
  height: 100px;
}

.separator-y {
  display: none;
}
@media screen and (min-width: 1024px) {
  .separator-y {
    background-color: #bdbdbd;
    width: 2px;
    border-radius: 8px;
    display: block;
  }
}

.separator-x {
  background-color: #bdbdbd;
  height: 2px;
  width: 100%;
  border-radius: 8px;
}
@media screen and (min-width: 1024px) {
  .separator-x {
    display: none;
  }
}

input {
  padding: 5px;
  border-radius: 8px;
  border: none;
}

/*==========================================
                            menu
===========================================*/
/*main menu*/
.main-menu {
  background-color: #474787;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 16px 0px;
  justify-content: space-between;
}
.main-menu .logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding-left: 18px;
}
.main-menu.container-nav {
  border-radius: 0px 0px 18px 18px;
}
@media screen and (min-width: 640px) {
  .main-menu.container-nav {
    border-radius: 18px;
  }
}
.main-menu.container-open {
  border-radius: 0;
}
@media screen and (min-width: 640px) {
  .main-menu.container-open {
    border-radius: 18px 18px 0 0;
  }
}

.nav-ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav-ul {
    padding-right: 18px;
    align-items: center;
  }
}

.active {
  display: block;
}

.actived {
  color: #b3b3b3;
}

#menu {
  padding-left: 0;
}
#menu.nav-open {
  background-color: #474787;
  color: white;
  border-radius: 0 0 18px 18px;
  flex-direction: column;
  display: flex;
  padding-bottom: 18px;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}
#menu.nav-open li:not(.isActived):hover {
  background-color: #fff;
}
#menu.nav-open li.isActived {
  background-color: #474787;
}
#menu.nav-open li a {
  transition: all 300ms ease-in-out;
  display: block;
  width: 100%;
  padding: 12px 18px;
}
#menu.nav-open li a:hover {
  color: #474787;
  padding-left: 28px;
}
#menu.nav-open li.isActived a:hover {
  color: #b3b3b3;
  padding-left: 18px;
  cursor: default;
}

/*main menu client*/
.body-client button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: padding-left 300ms ease-in-out, background-color 300ms ease-in-out;
}
.body-client .nav-open li form {
  width: 100%;
}
.body-client .nav-open li form:hover {
  background-color: red;
}
.body-client .nav-open li form button {
  padding: 12px 18px;
  display: block;
  width: 100%;
  text-align: left;
}
.body-client .nav-open li form button:hover {
  padding-left: 28px;
}

/*menu burger*/
.hamburger {
  cursor: pointer;
  padding-right: 16px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*==========================================
                            Accueil
===========================================*/
.card {
  display: flex;
  flex-direction: column;
}
.card .left {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .card .left {
    width: 45%;
    align-self: start;
    margin-left: 25px;
  }
}
.card .right {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .card .right {
    width: 45%;
    align-self: end;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 65%;
  }
}

.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-card img {
  border-radius: 18px;
}

/*============
        compagnon
============*/
.purple-card {
  background-color: #474787;
  color: white;
  border-radius: 18px;
  padding: 16px;
}
.purple-card-title {
  background-color: #2B2B52;
  border-radius: 18px 18px 0 0;
  color: white;
  width: 85%;
}
@media screen and (min-width: 768px) {
  .purple-card-title {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .purple-card-title {
    width: 45%;
  }
}
@media screen and (min-width: 1280px) {
  .purple-card-title {
    width: 35%;
  }
}
.purple-card-title h2 {
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .purple-card {
    padding: 32px;
  }
}

.compagnon-img, .progress-img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .compagnon-img, .progress-img {
    display: block;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*============
        progress
============*/
#progress {
  position: relative;
  overflow: hidden;
}
#progress::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/public/images/fond-progress.png");
  background-size: cover;
  filter: blur(12px);
  z-index: -1;
}

/*============
        carrousel
============*/
.carrousel-card {
  background-color: #D9D9D9;
  padding: 16px;
  border-radius: 18px;
}
@media screen and (min-width: 768px) {
  .carrousel-card {
    padding: 32px;
  }
}
.carrousel-card .carrousel-text {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  color: #474787;
}
@media screen and (min-width: 768px) {
  .carrousel-card .carrousel-text {
    padding: 32px;
  }
}
.carrousel-card .carrousel-text p:first-of-type {
  margin-top: 0;
}
.carrousel-card .carrousel-text p:last-child {
  margin-bottom: 0;
}

#carousel-article .card {
  width: 100%;
}
#carousel-article img {
  border-radius: 8px;
}
#carousel-article .purple-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#carousel-article .purple-card .carousel-card-text {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  color: #474787;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#carousel-article .purple-card .carousel-card-text a {
  border: solid 2px white;
  align-self: end;
  background-color: #474787;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
}
#carousel-article .purple-card .carousel-card-text a:hover {
  background-color: white;
  border: solid 2px #474787;
  color: #474787;
  transform: scale(1.05);
}

/*gestion couleur slider*/
.splide__slide {
  border-radius: 16px !important;
}
.splide__arrow svg {
  fill: #fff !important;
}
.splide__arrow svg:hover {
  fill: #474787 !important;
}
.splide__pagination__page {
  background-color: #fff !important;
}
.splide__pagination__page:hover, .splide__pagination__page.is-active {
  background-color: #474787 !important;
}

/*============
        starting
============*/
#starting {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}
#starting::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/public/images/starting-bg.png");
  background-size: cover;
  z-index: -1;
}
#starting .card {
  width: 100%;
}
#starting .card .purple-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#starting .card .purple-card a {
  border: solid 2px #474787;
  align-self: end;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
  color: #474787;
}
#starting .card .purple-card a:hover {
  background-color: #474787;
  border: solid 2px white;
  color: white;
  transform: scale(1.05);
}

/*==========================================
                            contact
===========================================*/
#contact .card {
  width: 100%;
}
#contact .card .form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#contact .card .form-group .input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#contact .card .form-group .input-group input, #contact .card .form-group .input-group textarea {
  padding: 8px;
  border-radius: 8px;
  border: none;
}
@media screen and (min-width: 768px) {
  #contact .card .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 32px;
  }
  #contact .card .form-group .input-group:nth-child(3),
  #contact .card .form-group .input-group:nth-child(4) {
    grid-column: span 2;
  }
}
#contact .card .form-container {
  display: flex;
  flex-direction: column;
}
#contact .card .form-container button {
  align-self: end;
  margin-top: 20px;
  border: solid 2px #474787;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
  color: #474787;
}
#contact .card .form-container button:hover {
  background-color: #474787;
  border: solid 2px white;
  color: white;
  transform: scale(1.05);
}

.mail-card {
  border-radius: 18px;
  background-color: #dedede;
  color: #474787;
  padding: 32px;
  text-align: center;
}
.mail-card a {
  color: #474787;
  font-weight: 600;
  font-size: 1.1rem;
}

/*==========================================
                        inscription/connexion
===========================================*/
#register .card-register {
  background-color: #D9D9D9;
  border-radius: 18px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: #474787;
}
@media screen and (min-width: 768px) {
  #register .card-register {
    padding: 32px;
  }
}
#register .card-register h2 {
  text-align: center;
  font-weight: 600;
}
#register .card-register p {
  text-align: center;
}
#register .card-register ul {
  width: 87%;
  align-self: center;
}
@media screen and (min-width: 640px) {
  #register .card-register ul {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  #register .card-register ul {
    width: 85%;
  }
}
@media screen and (min-width: 1024px) {
  #register .card-register ul {
    width: 77%;
  }
}
@media screen and (min-width: 1280px) {
  #register .card-register ul {
    width: 60%;
  }
}
@media screen and (min-width: 1536px) {
  #register .card-register ul {
    width: 50%;
  }
}
#register .card-register ul li {
  text-align: center;
  margin: 5px 0;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #register .card-register ul li {
    text-decoration: none;
    list-style-type: disc;
    text-align: left;
  }
}

#formulaires {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  #formulaires {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 32px;
  }
}
#formulaires .formulaires-card {
  display: flex;
  flex-direction: column;
}
#formulaires .formulaires-card .left {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  #formulaires .formulaires-card .left {
    width: 45%;
    align-self: start;
    margin-left: 25px;
  }
}
#formulaires .formulaires-card .right {
  margin: 0;
  align-self: center;
}
@media screen and (min-width: 768px) {
  #formulaires .formulaires-card .right {
    width: 45%;
    align-self: end;
    margin-right: 25px;
  }
}
#formulaires .formulaires-card .purple-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
#formulaires .formulaires-card .purple-card > div {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#formulaires .formulaires-card .purple-card .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#formulaires .formulaires-card .purple-card .form-group input {
  width: 80%;
}
@media screen and (min-width: 1024px) {
  #formulaires .formulaires-card .purple-card .form-group input {
    width: 75%;
  }
}
#formulaires .formulaires-card .purple-card a {
  text-decoration: underline;
}
#formulaires .formulaires-card .purple-card a:hover {
  color: #a2a2f8;
}
#formulaires .formulaires-card .purple-card button {
  align-self: start;
  margin-top: 20px;
  border: solid 2px #474787;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
  color: #474787;
  font-weight: 600;
  border: 2px solid #2B2B52;
}
#formulaires .formulaires-card .purple-card button:hover {
  background-color: #474787;
  border: solid 2px white;
  color: white;
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  #formulaires .formulaires-card .purple-card {
    min-height: 400px;
  }
}

/*==========================================
                            article
===========================================*/
.page-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
}
.page-article .separator-y {
  width: 10px;
}
@media screen and (min-width: 1024px) {
  .page-article {
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }
}
.page-article aside {
  background-color: #dedede;
  border-radius: 18px;
  padding: 32px;
}
@media screen and (min-width: 1024px) {
  .page-article aside {
    width: 25%;
    height: 100vh;
  }
}
.page-article aside h2, .page-article aside h3 {
  margin: 0;
}
.page-article aside .filtre-mobile {
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.page-article aside .filtre-mobile button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
}
.page-article aside .filtre-mobile h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.page-article aside .filtre-mobile .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms all;
}
.page-article aside .filtre-mobile .chevron svg {
  width: 20px;
}
.page-article aside .filtre-mobile .chevron-rotated {
  transform: rotate(180deg);
}
.page-article aside .categories {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .page-article aside .categories {
    flex-direction: column;
    gap: 18px;
  }
}
.page-article aside .categories .input-checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  position: relative;
  border: 1px solid rgb(89, 89, 89);
  transition: all;
  transition-duration: 150ms;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox]:hover {
  background-color: #a2a2f8;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox]:checked {
  background-color: #474787;
  border: 1px solid #a2a2f8;
}
.page-article aside .categories .input-checkbox-group input[type=checkbox]:checked::after {
  content: "✔"; /* Caractère de coche */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}
.page-article #article {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 640px) {
  .page-article #article {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .page-article #article {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .page-article #article {
    grid-template-columns: repeat(4, 1fr);
  }
}
.page-article #article .purple-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
}
@media screen and (min-width: 1024px) {
  .page-article #article .purple-card {
    align-items: start;
  }
}
.page-article #article .purple-card img {
  border-radius: 8px;
  width: 100%;
}
.page-article #article .purple-card .card-text {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  color: #474787;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.page-article #article .purple-card .card-text a {
  border: solid 2px white;
  align-self: end;
  background-color: #474787;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 115ms;
}
.page-article #article .purple-card .card-text a:hover {
  background-color: white;
  border: solid 2px #474787;
  color: #474787;
  transform: scale(1.05);
}

/*==========================================
                            responsive
===========================================*/
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .nav-ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

/*# sourceMappingURL=app.css.map */
